---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<docs-intro></docs-intro>
  <docs-everywhere></docs-everywhere>
  <docs-started id="get-started"></docs-started>
  <docs-guides></docs-guides>
  <docs-intro-cards></docs-intro-cards>
  <docs-designless></docs-designless>
  <h2 kemet-type-align="center">Need help?</h2>
  <p kemet-type-align="center">Be sure to <a href="https://github.com/hasanirogers/kemet-ui/issues">file an issue in the GitHub repository</a> if you've found a bug or are just looking for assistance.</p>
  <docs-footer></docs-footer>
</Layout>
