---
import '../styles/global.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kemet UI | A Modern Blueprint System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	</head>
	<body>
    <docs-hamburger></docs-hamburger>
    <kemet-drawer effect="push" overlay>
      <aside slot="navigation">
        <docs-nav location="sidebar"></docs-nav>
      </aside>
      <main slot="content">
        <docs-nav location="content"></docs-nav>
        <div>
          <article>
            <slot />
          </article>
        </div>
      </main>
    </kemet-drawer>
    <script>
      import "kemet-ui/dist/components/kemet-drawer/kemet-drawer";
      import "kemet-ui/dist/components/kemet-icon/kemet-icon";
      import "../components/docs-nav/docs-nav.ts";
      import "../components/docs-hamburger/docs-hamburger.ts";
    </script>
	</body>
</html>
